.metadata
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MetodosNumericos/.markers
*.snap
*.properties
